@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;700&display=swap");

:root {
  --dark-color: #292830;
  --orange-color: #ff7235;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hind Siliguri", sans-serif;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

/* ------------------Nav qismi boshlandi--------------------- */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
}

.nav-logo {
  display: flex;
  align-items: center;
}
.nav-logo > span {
  font-size: 23px;
  font-weight: 500;
  color: var(--dark-color);
}
.nav-list {
  list-style: none;
  display: flex;
  column-gap: 40px;
  align-items: center;
}

.nav-list-item > a {
  color: var(--dark-color);
  font-size: 18px;
  font-weight: 400;
}

.nav-list-item > a:hover {
  color: #ff7235;
  transition: 0.5s;
}

.nav-request-btn {
  color: #ff7235;
  border-radius: 8px;
  border: 1px solid #ff7235;
  background-color: transparent;
  padding: 15px 17px 16px 18px;
  font-size: 18px;
  font-weight: 400;
}
.nav-request-btn:hover {
  cursor: pointer;
  background-color: #ff7235;
  color: white;
  transition: 0.7s ease-in;
}

/* ------------------Nav qismi tugadi--------------------- */

/* --------------------Header Bottom qismi boshlandi--------------- */
.header-bottom {
  margin-top: 106px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-bottom-text > h1 {
  font-size: 96px;
  font-weight: 700;
  line-height: 96px;
}
.header-bottom-text > p {
  font-size: 24px;
  font-weight: 400;
  line-height: 38.81px;
  text-align: left;
  color: #bdbdbd;
  margin: 20px 0px 40px 0px;
}

.try-free-box > select {
  padding: 18px 24px;
  border-radius: 8px;
  background: var(--orange-color);
  border: none;
  outline: none;
  color: white;
  font-size: 24px;
}
.try-free-box span {
  font-size: 24px;
  font-weight: 400;
  line-height: 38.81px;
  color: #bdbdbd;
}
.try-free-box {
  display: flex;
  align-items: center;
  gap: 24px;
}

/* --------------------Header Bottom qismi Tugadi--------------- */
/* --------------------Main overview qismi Boshlandi--------------- */

.overview{
    background-color: var(--orange-color);
}
.img-overview{
    width: 100%;
    margin: 87px 0px 0px 0px;
}

.logos-overview img{
    width: 159px;
    height: 32px;
}
.logos-overview{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 0px;
}

main{
  margin-top: 210px;
}